#map {
     height: 100%;
     width: 100%;
    }
.container{
  margin: auto;
    width: 100%;
}
#list{
  float:left;
  width:20%;
}
#map{
  float:left;
  width:80%;

}
.button{
  display: block;
  margin: 0 auto;
  width:50%;
  height: 4%;
  background-color: white;
  margin-bottom: 5px;
  -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.4s;


}
.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
    background-color: #4CAF50; /* Green */
    color: white
}
